@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('truetype');
    /* Add additional font formats here if needed */
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('ukazka.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Minecraft';
    color: #fff;
}

.admin-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.admin-member {
    text-align: center;
    padding: 20px;
    border: 2px solid #2384D1;
    border-radius: 10px;
    background-color: #0000005c;
    transition: all 0.3s ease;
    margin: 0 10px 20px; /* Optional: Add margin between admin members and bottom margin */
    max-width: 300px; /* Set maximum width for admin members */
    width: 100%; /* Ensure the width is 100% of the container */
    box-sizing: border-box; /* Include padding and border in the width */
}

.admin-member:hover {
    transform: scale(1.05);
    border-color: #4caf50;
}

.admin-member img {
    width: 100%; /* Make the image fill its container */
    max-width: 200px; /* Set maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #ff9800;
}

.admin-member h2 {
    font-size: 24px;
    margin: 10px 0;
}

.admin-member p {
    font-size: 16px;
    line-height: 1.4;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    margin: 0;
}

.navbar {
    background-color: #33333300;
    text-align: left;
    padding: 10px 0;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navbar icon styles */
.navbar-icon {
    width: 90px; /* Adjust the width and height as needed */
    height: 57px;
    margin: 10px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .admin-member {
        margin: 0 10px 20px; /* Adjust margin for smaller screens */
    }
}
