@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('truetype');
    
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('ukazka.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
    color: #fff;
}
#snow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#snow i {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px white;
    animation: snowfall 5s linear infinite reverse;
}

@keyframes snowfall {
    0% {
        transform: translate(-10vw, -50vh);
    }

    100% {
        transform: translate(10vw, 50vh);
    }
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.log img {
    max-width: 30%;
    max-height: 30%;
    animation: floatAnimation 2s ease-in-out infinite;
    margin-right: 20px;
}

.discord-buttons-left {
    margin-right: -350px;
    
}

.discord-buttons-right {
    margin-left: -350px;
    
    
}

.buttonsdiscord {
    display: inline-flex;
    flex: 1 1 300px;
    align-items: center;
    justify-content: center;
    gap: 1em;
    cursor: pointer;
    color: white;
    padding: 1em;
    background-color: #2383d100;
    border-radius: 1rem;
    border: none; 
    outline: none;
    text-align: left;
    font-size: 13px; 
}

.buttonsdiscord i {
    font-size: 30px; 
    margin-right: 5px; 
    background-color: #ffffff; 
    padding: 10px; 
    border-radius: 1rem; 
    color: #000000;
}



*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: #2384D1;
    color: white;
    border: none;
    margin: 20px;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: rgba(var(--text-color), 0.1) 0px 10px 15px -3px, rgba(var(--text-color), 0.05) 0px 4px 6px -2px;
    font-size: 17px;
    font-weight: bold;
}

.button i {
    font-size: 36px;
    margin-bottom: 8px;

}

.button:hover {
    background-color: #2980b9;
    
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.admin-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap; 
    font-family: 'Minecraft';
    color: #ffffffbd;
}

.admin-member {
    text-align: center;
    padding: 20px;
    border: 2px solid #2384D1;
    border-radius: 10px;
    background-color: #00000000;
    transition: all 0.3s ease;
    margin: 0 10px 20px; 
    max-width: 300px; 
    width: 100%; 
    box-sizing: border-box; 
}

.admin-member:hover {
    transform: scale(1.05);
    border-color: #4caf50;
}

.admin-member img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #ff9800;
}

.admin-member h2 {
    font-size: 24px;
    margin: 10px 0;
}

.admin-member p {
    font-size: 16px;
    line-height: 1.4;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    margin: 0;
}

.membership-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: auto;
    margin-top: 30px;
    padding: 20px;
    /* box-sizing: border-box; */
    text-align: center;
}

.membership-block {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffffbd;
    padding: 20px;
    border-radius: 10px;
    width: calc(40% - 40px); /* Adjust the width as needed */
    max-width: 300px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease-in-out;
    /* box-sizing: border-box; */
    text-align: left;
}

.membership-block:hover {
    transform: scale(1.05);
}

.membership-block h2 {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 15px;
    color: #d09c42; /* Set the text color to #d09c42 */
}

.membership-block ul {
    list-style: none;
    padding: 0;
}

.membership-block ul li {
    font-size: 15px; /* Adjust the font size as needed */
    margin-bottom: 5px;
}

.membership-block ul li span {
    font-weight: bold;
}

.membership-block ul li:before {
    content: '\2022';
    color: #ffffff60;
    margin-right: 5px;
}

.tim {
    text-align: center;
    font-size: 65px; 
    font-family: "Minecraft", sans-serif; 
    margin-bottom: 10%;
    margin-top: 10%;
    color: #ffffff60;
}
.premium {
    text-align: center; 
    font-size: 65px; 
    font-family: "Minecraft", sans-serif; 
    margin-bottom: 10%;
    margin-top: 5%;
    color: #ffffff60;
}

.admin-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap; 
    font-family: 'Minecraft';
    color: #ffffffbd;
}

.admin-member1 {
    text-align: center;
    padding: 20px;
    border: 2px solid #2384D1;
    border-radius: 10px;
    background-color: #00000000;
    transition: all 0.3s ease;
    margin: 0 10px 20px; 
    max-width: 300px; 
    width: 100%; 
    box-sizing: border-box; 
}

.admin-member1:hover {
    transform: scale(1.05);
    border-color: #4caf50;
}

.admin-member1 img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #ff0000;
}

.admin-member1 h2 {
    font-size: 24px;
    margin: 10px 0;
}

.admin-member1 p {
    font-size: 16px;
    line-height: 1.4;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    margin: 0;
}

.admin-member2 {
    text-align: center;
    padding: 20px;
    border: 2px solid #008cff;
    border-radius: 10px;
    background-color: #00000000;
    transition: all 0.3s ease;
    margin: 0 10px 20px; 
    max-width: 300px; 
    width: 100%; 
    box-sizing: border-box; 
}

.admin-member2:hover {
    transform: scale(1.05);
    border-color: #4caf50;
}

.admin-member2 img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #ff9800;
}

.admin-member2 h2 {
    font-size: 24px;
    margin: 10px 0;
}

.admin-member2 p {
    font-size: 16px;
    line-height: 1.4;
}

.admin-member3 {
    text-align: center;
    padding: 20px;
    border: 2px solid #2384D1;
    border-radius: 10px;
    background-color: #00000000;
    transition: all 0.3s ease;
    margin: 0 10px 20px; 
    max-width: 300px; 
    width: 100%; 
    box-sizing: border-box; 
}

.admin-member3:hover {
    transform: scale(1.05);
    border-color: #4caf50;
}

.admin-member3 img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #37ff00;
}

.admin-member3 h2 {
    font-size: 24px;
    margin: 10px 0;
}

.admin-member3 p {
    font-size: 16px;
    line-height: 1.4;
}

